.modal,
.overlay {
  width: 100vw;
  height: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.1);
}

.modalcontent {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: aliceblue;
}

.closeModal {
  position: absolute;
  top: 10px;
  right: 10px;
}

.Open {
  padding: 12px 24px;
  border-radius: 7px;
  border: none;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.5px;
}
