@use "../../styles/palette.module.scss" as *;

.Card {
  border: 1px solid $three;
  border-radius: 15px;
  max-width: 300px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 24px 8px;
  background-color: $one;
  box-shadow: 4px 4px 10px 2px $three;

  > h2 {
    font-size: 20px;
    padding: 20px 0;
    text-align: center;
  }

  > p {
    padding-bottom: 20px;
    color: $text-light;
    font-size: 16px;
  }
  > img {
    width: auto;
    height: 200px;
  }
}

.Image {
  background-color: $two;
  width: 90%;
  height: 200px;
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  border-radius: 15px;
}
