$bg: #f5f5f5;
// $bg-light: #ffffff;
// $text: #111111;
// $text-light: #9b9b9b;
// $accent: #015a7e;

$primary: #8c8477;
$primary-light: #bbaf95;
$primary-lighter: #cec8bc;

$secondary: #eaeaea;
$secondary-light: #f5f4ef;

$text: #3c3632;
$text-light: #858484;
