* {
  padding: 0px;
  margin: 0px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #3c3632;
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #3c3632;
} */

body {
  min-width: 100vw;
  min-height: 100vh;
}
